# Git ignore for a monorepo with C#, Python, and React

# --------------------------------------------------------------------------
# C# / .NET Specific

# Binaries and build artifacts
**/bin/
**/obj/

# Visual Studio files
.vs/
**.suo
**.user
**.pdb
**.pidb
**.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
**.ntvs*
**.njsproj
**.sln
**.sw?

# NuGet
**.nupkg
packages/

#appsettings files
**/appsettings.json
**.appsettings.Development.json

#sqlite file
CSharpBackend/sqliteserver/stormfile.sqlite

# --------------------------------------------------------------------------
# Python Specific

# Virtual environments
.venv/
venv/
env/

# Pycache and compiled files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# --------------------------------------------------------------------------
# React / Node.js Specific

# Node modules
**/node_modules/
*.png

# Logs
*.log
*.local

# Build output directories
dist/
build/
.vite-temp/
.vite/
.eslintcache

# Common OS-specific files
.DS_Store
.env
.env.production
.idea/
.vscode/

# Package manager-specific files
npm-debug.log*
yarn-error.log*
.pnpm-store/

hurricanekey.pem